:root {
  --background-color: #f9f9f9;
  --sidebar-bg-color: #f5f5f5;
  --header-bg-color: #ffffff;
  --main-bg-color: #ffffff;
  --button-hover-bg: #dedede;
  --low-bg-clr: #e3f2fd;
  --medium-bg-clr: #f1f8e9;
  --high-bg-clr: #fff9c4;
  --urgent-bg-clr: #ffebee;
  --font-color: #333333;
  --font-family: "Arial", sans-serif;
  --primary-color: rgb(76, 175, 80);
  --button-font-size: 16px;
  --input-padding: 10px;
  --border-radius: 8px;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family);
  color: var(--font-color);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  gap: 1rem;
  padding: var(--input-padding);
  text-align: center;
  background-color: var(--header-bg-color);
  color: #333;
  box-shadow: var(--box-shadow);
}

.header h1 {
  font-size: 2rem;
  font-weight: 400;
}

.main {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  background-color: var(--sidebar-bg-color);
  padding: 1em;
  width: 250px;
  display: flex;
  flex-direction: column;
  color: #555;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow-y: auto;
  border-right: 1px solid #e0e0e0;
}

.sidebar h1 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.sidebar p {
  margin-bottom: 10px;
  cursor: pointer;
  padding: 10px;
  border-radius: var(--border-radius);
  transition: background-color 0.3s ease;
}

.sidebar p:hover {
  background-color: var(--button-hover-bg);
}
.todos-logo {
  background-image: url("./images/to-do-list.png");
  width: 30px;
  height: 30px;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px;
  background-color: var(--main-bg-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  margin: 20px;
  margin-left: 270px;
}

.maincontents {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.todo-item {
  padding: 1rem;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.todo-item.urgent {
  border-left: 8px solid #e57373;
  background-color: var(--urgent-bg-clr);
}

.todo-item.high {
  border-left: 8px solid #ffa726;
  background-color: var(--high-bg-clr);
}

.todo-item.medium {
  border-left: 8px solid #66bb6a;
  background-color: var(--medium-bg-clr);
}

.todo-item.low {
  border-left: 8px solid #64b5f6;
  background-color: var(--low-bg-clr);
}

.delete-btn {
  align-self: flex-start;
  padding: 0.5rem 1rem;
  font-size: var(--button-font-size);
  background-color: #e53935;
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s ease;
}

.delete-btn:hover {
  background-color: #d32f2f;
}

#addTodosBtn,
#addProjectsBtn {
  align-self: flex-start;
  padding: 1rem 3rem;
  font-size: var(--button-font-size);
  background-color: #1976d2;
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

#addTodosBtn:hover,
#addProjectsBtn:hover {
  background-color: #1565c0;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.form-group {
  display: flex;
  align-items: center;
}
input[type="text"],
input[type="date"],
textarea,
select {
  padding: var(--input-padding);
  border-radius: var(--border-radius);
  border: 1px solid #ccc;
  font-size: 16px;
  box-shadow: var(--box-shadow);
  background-color: #ffffff;
}

input[type="submit"] {
  padding: var(--input-padding);
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: var(--button-hover-bg);
}

dialog {
  border: none;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 20px;
  max-width: 500px;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#closeDialogBtn {
  background: none;
  border: none;
  color: #555;
  font-size: 1.5rem;
  cursor: pointer;
}

#closeDialogBtn:hover {
  color: var(--button-hover-bg);
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #ffffff;
  color: var(--font-color);
  border-top: 1px solid #e0e0e0;
}

footer a {
  color: var(--font-color);
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.fa-github {
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}

/* Responsive Design */
@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .container {
    margin-left: 0;
    margin-top: 20px;
  }
}
